*.orig
.DS_Store
*.sw?
.ruby-gemset
server/public/assets
server/public/fonts
server/public/index.html
server/vendor
frontend/tmp/
.vim-role
tmp/
.vim-role
.sass-cache/
spec_help/dummy/log/test.log
last_run
coverage/*
corundum/
pkg
.idea/
vendor/
errors.err

