# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 
    deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef 
  smtp:
    address: smtp.CHANGEME.com
    port: 587
    domain: CHANGEME.com
    user_name: admin@CHANGEME.com
    password: xxxxxxxx
  email:
    from: admin@CHANGEME.com
    reply_to: admin@CHANGEME.com
    # Destination for emails in dev environment
    # this should be left blank in production
    test: test@CHANGEME.com
    from_domain: 'localhost:3000'
  snapshot_server:
    url: https://www.notaserver.com
    user: user
    password: password
  sitemap_base_url: http://localhost:3000/
  asset_host: http://localhost:3000/

test:
  secret_key_base: 
    deadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef 
  smtp:
    address: smtp.CHANGEME.com
    port: 587
    domain: CHANGEME.com
    user_name: admin@CHANGEME.com
    password: xxxxxxxx
  email:
    from: admin@CHANGEME.com
    reply_to: admin@CHANGEME.com
    from_domain: 'example.com'
  snapshot_server:
    url: https://www.notaserver.com
    user: user
    password: password
  sitemap_base_url: http://localhost:3000/
  asset_host: http://localhost:3000/

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
