# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 310e870c28dac892712d0d67fc9119c4a05ed236467c6409a4db2fe32158092df5e787d5f4a4f2fa05187083e512a5d20c3583a6bf1164ec63571235e72f3ed2
  smtp:
    address: smtp.gmail.com
    port: 587,
    domain: lrdesign.com
    user_name: admin@lrdesign.com
    password: xxxxxxxx
  email:
    from: admin@lrdesign.com
    reply_to: admin@lrdesign.com
    # Destination for emails in dev environment
    # this should be left blank in production
    test: test@lrdesign.com
    from_domain: 'localhost:3000'
  snapshot_server:
    url: https://www.notaserver.com
    user: user
    password: password
  sitemap_base_url: http://localhost:3000/
  asset_host: http://localhost:3000/

test:
  secret_key_base: 76bb3aa2c6d22c757c679898fe36dd8e502e3c5e3cfeccacc6b31c5b331cb2dce5395ba96e99bf010ef4d7573043f7e3afec825af6af5bc2f9596c5ff20ff91e
  smtp:
    address: smtp.gmail.com
    port: 587
    domain: eclipticenterprises.com
    user_name: admin@lrdesign.com"
    password: xxxxxxxx
  email:
    from: admin@example.com
    reply_to: admin@example.com
    from_domain: 'example.com'
  snapshot_server:
    url: https://www.notaserver.com
    user: user
    password: password
  sitemap_base_url: http://localhost:3000/
  asset_host: http://localhost:3000/

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
