<h1>Reset Your Password</h1>

<form id='passwords-update-form'>

    <div class='xng-form-row'>
      <label for="password">New Password:</label>
      <input type="password" name="password" ng-model="passwordUpdate.password" placeholder="New Password" />
      <span class='comment'></span>
    </div>

    <div class='xng-form-row'>
      <label for="password-confirmation">Confirm New Password:</label>
      <input type="password" name="password-confirmation" ng-model="passwordUpdate.passwordConfirmation" placeholder="New Password" />
      <span class='comment'></span>
    </div>

    <div class='xng-form-row'>
      <button type="submit" ng-click="passwordUpdateSubmit()" class='call-to-action'>Update Password</button>
    </div>

</form>
