<h1>Forgot your password?</h1>

<p>Enter your email address below to receive a new confirmation email.</p>

<form id='passwords-request-form'>
    <div class='xng-form-row'>
      <label for="email">Email:</label>
      <input name="email" ng-model="passwordRequest.email" placeholder="Email" />
      <span class='comment'></span>
    </div>

    <div class='xng-form-row'>
      <button type="submit" ng-click="passwordRequestSubmit()" class="call-to-action">Send password reset instructions</button>
    </div>

</form>
