*.orig
.DS_Store
*.sw?
.ruby-gemset
server/public/assets
server/public/fonts
server/public/index.html
server/vendor
frontend/tmp/
.vim-role
tmp/
.vim-role
.sass-cache/
.bundle/
.envrc
**/last_run
**/*.log
