log/*
screenlog.*
*.log
tmp/**/*
tmp/*
.dotest/
.dotest/*.
tmp/.*
tmp/*
tmp/profile*
.DS_Store
doc/plugins
doc/api
doc/app
doc/*.doc
doc/*.zip
config/initializers/secret_token.rb
db/schema.sql
db/schema.rb
db/*.sqlite3*
db_backups/*
database.yml
public/stylesheets/*.css
!public/stylesheets/reset.css
public/javascripts/all.js
public/assets/source_maps/*
public/system
uuid.state
nbproject*
index/*
identifier
secret
last_run
.project
.conductor/*
.conductor/**/*
**/*.sw?
.#*
\#*
*~
vendor/**/**/doc/*
vendor/plugins/footnotes/*
rsa_key*
doc/millsyncables*
db/sphinx/*
system/datas/*
sqldumps/*
capybara*.html
.bundle/*
.rspec
public/sitemap.xml
*.sublime-project
*.sublime-workspace
.sass-cache/
.simplecov
coverage/
*.orig
.ruby-gemset
*.swp
errors.err
.cadre/
spec/support/cadre.rb
secrets.ymlspec/support/cadre.rb
config/secrets.yml
public/frontend_snapshots
spec/fixtures/sitemap_scratch
db/migrate/*.rb
dump.rdb
