# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6d6f2d0b7d7ca74225140701f00c4d1495880a4358c119b59340c164ee7d78d61e3b58557ec12db898187e3238cddcf78213f1f30166ace88ed5811dcc02ea19
  smtp:
    address: smtp.CHANGEME.com
    port: 587
    domain: cheese.com
    user_name: admin@cheese.com
    password: xxxxxxxx
  email:
    from: admin@cheese.com
    reply_to: admin@cheese.com
    # Destination for emails in dev environment
    # this should be left blank in production
    test: test@cheese.com
    from_domain: 'localhost:3000'
  snapshot_server:
    url: https://www.notaserver.com
    user: user
    password: password
  sitemap_base_url: http://localhost:3000/
  asset_host: http://localhost:3000/
  # don't use this value in production
  allowed_origins: '*'

test:
  secret_key_base: c6eac15d9ddf72c5dda61f9f5468c588f006c4b4155d10634fd69e24feed848fdfa8b360c8856be57299760ca8ae1ca745240262b4c63209c92bec7976e0a095
  smtp:
    address: smtp.cheese.com
    port: 587
    domain: cheese.com
    user_name: admin@cheese.com
    password: xxxxxxxx
  email:
    from: admin@cheese.com
    reply_to: admin@cheese.com
    from_domain: 'example.com'
  snapshot_server:
    url: https://www.notaserver.com
    user: user
    password: password
  sitemap_base_url: http://localhost:3000/
  asset_host: http://localhost:3000/
  # don't use this value in production
  allowed_origins: '*'

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
